{{ include('@SumoCodersFrameworkCore/head.html.twig') }}

<body class="user h-100">

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-6 col-xl-4">
      <div class="card p-4 mt-5">
        <div class="text-center mb-3 py-5 px-sm-4 px-md-5">
          {% block logo_image %}
            <img class="img-responsive" src="{{ asset('build/images/logo-application.svg') }}" alt="{{ fallbacks.get('site_title') }}">
          {% endblock %}
        </div>

        {{ include('@SumoCodersFrameworkCore/notifications.html.twig') }}

        {% block main %}
        {% endblock %}

      </div>
    </div>
  </div>
</div>

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
