{% extends '@SumoCodersFrameworkCore/base_error.html.twig' %}

{% block body %}
    <h1>{{ 'error.messages.noRouteFound'|trans }}</h1>
    <p>{{ 'error.messages.noRouteFoundMessage'|trans }}</p>
    {% if app.request.headers.get('referer') is not empty and app.request.headers.get('referer') != app.request.uri %}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-primary">{{ 'go back'|trans }}</a>
    {% else %}
        <a href="/" class="btn btn-outline-primary">{{ 'go back'|trans }}</a>
    {% endif %}
{% endblock %}
