{% block head %}
  {% include '@SumoCodersFrameworkCore/head.html.twig' with {title: block('title') is defined ? block('title') : page_title} %}
{% endblock %}

<body class="body-base" data-theme-path="{{ asset('styles/style-dark.scss') }}" data-turbo="false">
  {% block start_body %}
  {% endblock %}
  <div id="main-wrapper" class="main-wrapper" data-controller="sidebar-collapsable" data-sidebar-collapsable-target="toggleable">
    <div id="main-menu" class="main-menu" role="navigation">
      {% block include_navigation %}
        {{ include('@SumoCodersFrameworkCore/navigation.html.twig') }}
      {% endblock %}
    </div>
    <div id="content-wrapper">
      <div class="main-header">
        <div class="d-md-none breadcrumb-mobile">
          <nav aria-label="breadcrumb" class="my-2">
            {{ block('breadcrumb', '@SumoCodersFrameworkCore/Breadcrumb/breadcrumb.html.twig') }}
          </nav>
        </div>
        <div class="sub-nav d-flex">
          <div class="header-title d-flex flex-row justify-content-between w-100 align-items-center">
            {% block header_title %}
            {% endblock %}
            <div class="d-md-none">
              {% if block('header_navigation') is defined and block('header_navigation') is not empty %}
                <button type="button" class="navbar-toggler h-100 collapse-actions-toggle"  data-bs-toggle="collapse" data-bs-target="#action-buttons-collapse" aria-expanded="false" aria-controls="action-buttons-collapse">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
              {% endif %}
            </div>
          </div>
          <div class="d-none d-md-block ms-auto">
            {% include '@SumoCodersFrameworkCore/usermenu.html.twig' with {'mobile': false} %}
          </div>
        </div>
        {% if block('header_navigation') is defined and block('header_navigation') is not empty %}
          <div class="collapse collapse-actions" id="action-buttons-collapse">
            <div class="action-buttons action-buttons-mobile">
              {{ block('header_navigation') }}
            </div>
          </div>
        {% endif %}
      </div>

      <section id="main" role="main">
        <div class="header-subbar">
          {{ include('@SumoCodersFrameworkCore/notifications.html.twig') }}
          <div class="header-title-bar d-none d-md-flex justify-content-md-between align-items-md-center flex-column flex-md-row flex-wrap">
            <nav aria-label="breadcrumb" class="my-2">
              {{ block('breadcrumb', '@SumoCodersFrameworkCore/Breadcrumb/breadcrumb.html.twig') }}
            </nav>
            <div class="ms-md-auto">
              {% if block('header_navigation') is defined and block('header_navigation') is not empty %}
                <div class="action-buttons">
                  {{ block('header_navigation') }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="main-content">
            {% block main %}

            {% endblock %}
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      {% block footer %}
        <a href="#main-wrapper" class="back-to-top d-none" data-role="back-to-top"><i class="fas fa-chevron-up me-3"></i> {{ 'core.interface.backToTop'|trans|ucfirst }}</a>
      {% endblock %}
    </footer>
  </div>

{{ include('@SumoCodersFrameworkCore/dialogs.html.twig') }}
</body>
</html>
