<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {% block meta %}
        <meta name="author" content="SumoCoders">
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/style.scss') }}">
        {% if theme() == 'theme-dark' %}
            <link rel="stylesheet" href="{{ asset('styles/style-dark.scss') }}">
        {% endif %}
    {% endblock %}

    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}

    {% block icons %}
        <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png') }}">
        <link rel="image_src" href="{{ asset('build/images/image_src.png') }}" />
        <link rel="shortcut icon" sizes="196x196" href="{{ asset('build/images/android-icon.png') }}">
    {% endblock %}

    {% block favicon %}
        <link rel="icon" sizes="96x96" href="{{ asset('build/images/favicon.png') }}">
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}">
    {% endblock %}

    {% block windows_tile %}
        {# Windows 8 tile #}
        <meta name="application-name" content="{{ fallbacks.get('site_title') }}" />
        <meta name="msapplication-TileColor" content="#3380aa" />
        <meta name="msapplication-TileImage" content="{{ asset('build/images/metro-tile.png') }}" />
    {% endblock %}

    {% block og %}
        <meta property="og:image" content="{{ asset('build/images/image_src.png') }}" />
    {% endblock %}

    {% block twitter %}
        {# Twitter #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ fallbacks.get('site_title') }}">
        <meta name="twitter:image" content="{{ asset('build/images/image_src.png') }}" />
    {% endblock %}

    {% block end_head %}
    {% endblock %}
</head>
