{% block head %}
  {% include '@SumoCodersFrameworkCore/head.html.twig' with {title: block('title') is defined ? block('title') : page_title} %}
{% endblock %}

<body class="user h-100">

<div class="d-flex justify-content-end">
  <div class="d-flex ms-auto user-toggles">
    {{ include('@SumoCodersFrameworkCore/themetoggler.html.twig', {mobile: false}) }}
    {% if locales|length > 1 %}{{ include('@SumoCodersFrameworkCore/languagetoggler.html.twig', {mobile: false}) }}{% endif %}
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-6 col-xl-4">
      <div class="card mt-5">
        <div class="card-body">
          <div class="text-center mb-3 py-5 px-sm-4 px-md-5">
            {% block logo_image %}
              <img class="img-responsive{% if theme() != 'theme-dark' %} d-none{% endif %}" data-navbar-logo-dark src="{{ asset('images/logo-application-dark.svg') }}" alt="{{ fallbacks.get('site_title') }}">
              <img class="img-responsive{% if theme() == 'theme-dark' %} d-none{% endif %}" data-navbar-logo src="{{ asset('images/logo-application.svg') }}" alt="{{ fallbacks.get('site_title') }}">
            {% endblock %}
          </div>

          {{ include('@SumoCodersFrameworkCore/notifications.html.twig') }}

          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
