<div class="user-nav d-flex h-100">
  {% if app.user is not null %}
    <div class="user btn-group dropdown w-100 d-flex flex-column" data-dropdown-user-wrapper>
      <button class="btn btn-default dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false" data-dropdown-user-toggle>
        {% if is_granted('IS_IMPERSONATOR') %}
          <i class="fas fa-exchange-alt me-3"></i>
        {% else %}
          <i class="fas fa-user-circle me-3"></i>
        {% endif %}
        <span>{{ app.user.username }}</span>
        <span class="fas fa-chevron-down fa-w-16"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right dropdown-menu-user" role="menu" data-dropdown-user>
        {% block user_navigation %}
          <li><a href="{{ path('user_profile') }}" class="dropdown-item">{{ 'account'|trans|ucfirst }}</a></li>
        {% endblock %}
        <div class="dropdown-divider"></div>
          {% if is_granted('IS_IMPERSONATOR') %}
              <li><a href="{{ impersonation_exit_path(path('user_overview')) }}" class="dropdown-item" data-turbo-prefetch="false">{{ 'user.actions.switchback'|trans|ucfirst }}</a></li>
          {% else %}
              <li><a href="{{ path('_logout_main') }}" class="dropdown-item" data-turbo-prefetch="false">{{ 'user.actions.logout'|trans|ucfirst }}</a></li>
          {% endif %}
      </ul>
    </div>
  {% endif %}
</div>
