{% import _self as formMacros %}

{% block form_label %}
  {% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
    {% if label is not same as(false) %}
      {% if label is empty %}
        {% set label = toTranslation(id)|trans({}, translation_domain)|capitalize %}
      {% else %}
        {% set label = label|trans({}, translation_domain)|capitalize %}
      {% endif %}
      {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
      {% endif %}
      {% set label_attr_class = '' %}
      {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional') }) %}
      <label{% for attrname,attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
      {{ label|trans|capitalize }}{{- block('label_asterisk') }}
      </label>
    {% endif %}
  {% endif %}
{% endblock form_label %}

{%- block label_asterisk -%}
  {% if required %}
    <abbr title="{{ 'forms.labels.required'|trans({}, translation_domain) }}">*</abbr>
  {% endif %}
{%- endblock label_asterisk -%}

{% block collection_widget %}
  {% import _self as formMacros %}

  {% spaceless %}
    {% if prototype is defined %}
      {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
      {% set attr = attr|merge({'data-prototype-label': prototype.vars.label}) %}
    {% endif %}

    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
    {% set attr = attr|merge({'data-role': 'collection'}) %}

    <div
        {{ block('widget_container_attributes') }}
        {% if prototype is defined %}
          data-prototype="{{ formMacros.renderCollectionItem(prototype)|e('html_attr') }}"
        {% endif %}
        class="card bg-light">
      <div class="card-body">
        {{ block('collection_rows') }}
        {{ form_rest(form) }}
      </div>
    </div>
    {{ block('form_errors') }}
  {% endspaceless %}
{% endblock collection_widget %}

{% block collection_rows %}
  {% spaceless %}
    {% import _self as formMacros %}
    {{ form_errors(form) }}

    {% if allow_add %}
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success btn-sm mb-2" data-role="collection-add-button">
          <i class="fas fa-plus"></i> {{ 'forms.buttons.addItem'|trans|capitalize }}
        </button>
      </div>
    {% endif %}

    <ul data-role="collection-item-container" class="list-unstyled">
      {% for child in form %}
        {{ formMacros.renderCollectionItem(child) }}
      {% endfor %}
    </ul>

    {% if allow_add %}
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success btn-sm" data-role="collection-add-button" hidden>
          <i class="fas fa-plus"></i> {{ 'forms.buttons.addItem'|trans|capitalize }}
        </button>
      </div>
    {% endif %}
  {% endspaceless %}
{% endblock collection_rows %}

{% macro renderCollectionItem(item) %}
  <li>
    <div class="card mb-3 ml-4 pl-4 collection-item" data-role="collection-item">
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-danger btn-sm"
                  data-role="collection-remove-button" title="{{ 'forms.buttons.removeItem'|trans|capitalize }}">
            <i class="fas fa-trash"></i> <span class="sr-only">{{ 'forms.buttons.removeItem'|trans|capitalize }}</span>
          </button>
        </div>
        <i class="fas fa-bars btn btn-default collection-item-drag-and-drop" title="{{ 'forms.buttons.changeOrder'|trans|capitalize }}" data-role="collection-item-change-order"></i>
        {{ form_row(item) }}
      </div>
    </div>
  </li>
{% endmacro %}

{%- block form_errors -%}
  {% if form.parent is null %}
    {% if not form.vars.valid %}
      <div class="alert alert-danger" role="alert">
        {{ 'forms.message.hasErrors'|trans|capitalize }}:
        <ul class="list-unstyled">
          {% for child in form.children %}
            {% set label = child.vars.label %}
            {% if label is not same as(false) %}
              {% if label is empty %}
                {% set label = toTranslation(child.vars.id)|trans({}, child.vars.translation_domain)|capitalize %}
              {% else %}
                {% set label = label|trans({}, child.vars.translation_domain)|capitalize %}
              {% endif %}
            {% endif %}
            {% if not child.vars.valid %}
              {% for error in child.vars.errors %}
                <li>
                  <a href="#{{ child.vars.id }}">
                    {% if label is not same as(false) %}{{ label|trans|capitalize }}: {% endif %}{{ error.message }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% else %}
    {% if errors|length > 0 -%}
      {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger" role="alert">{% endif %}
      <ul class="list-unstyled">
        {%- for error in errors -%}
          <li><span class="fas fa-exclamation-triangle"></span> {{ error.message }}</li>
        {%- endfor -%}
      </ul>
      {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
  {% endif %}
{%- endblock form_errors -%}

{% block image_widget %}
  {% spaceless %}
    <div class="form-group">
      {{ form_widget(form.file) }}
      {{ form_errors(form.file) }}
    </div>
    {% set show_preview = show_preview and data is not null and data.fileName is not empty %}
    {% if show_preview or show_remove_image %}
      <div class="form-group">
        {% if show_preview and preview_url %}
          <img class="{% if preview_class is defined and preview_class is not empty %}{{ preview_class }}{% endif %}"
            src="{{ preview_url }}">
        {% endif %}
        {% if show_remove_image %}
          {{ form_widget(form.remove) }}
        {% endif %}
      </div>
    {% endif %}
  {% endspaceless %}
{% endblock %}

{% block sumoFile_widget %}
  {% spaceless %}
    <div class="form-group">
      {{ form_widget(form.file) }}
      {{ form_errors(form.file) }}
    </div>
    {% set show_preview = show_preview and data is not null and data.fileName is not empty %}
    {% if show_preview or show_remove_file %}
      <div class="form-group">
        {% if show_preview and preview_url %}
          <a href="{{ preview_url }}" class="btn btn-xs btn-default" target="_blank">
            <span class="fas fa-eye" aria-hidden="true"></span>
            {{ preview_label|trans|capitalize }}
          </a>
        {% endif %}
        {% if show_remove_file %}
          {{ form_widget(form.remove) }}
        {% endif %}
      </div>
    {% endif %}
  {% endspaceless %}
{% endblock %}

{% block date_widget %}
  {% spaceless %}
    {% if widget == 'single_text' %}
      {% if datepicker %}
        <div class="input-group date" id="{{ form.vars.id }}" data-target-input="nearest" data-role="date-picker">
          <input
              type="text"
              class="form-control {{ attr.class|default('')|join(' ') }} datetimepicker-input"
              data-target="#{{ form.vars.id }}"
              data-toggle="datetimepicker"
              value="{{ value }}"
              {% if minimum_date %}data-min-date="{{ minimum_date }}"{% endif %}
              {% if maximum_date %}data-max-date="{{ maximum_date }}"{% endif %}
              {{ block('widget_attributes') }}
              {% if read_only is defined and read_only %} readonly="readonly"{% endif %}
              {% if disabled %} disabled="disabled"{% endif %}
              {% if required %} required="required"{% endif %}
          >
          <div class="input-group-append" data-target="#{{ form.vars.id }}" data-toggle="datetimepicker">
            <div class="input-group-text">
              <i class="fas fa-calendar"></i>
            </div>
          </div>
        </div>
      {% else %}
        {{ block('form_widget_simple') }}
      {% endif %}
    {% else %}
      {% if dont_render_row is not defined or not dont_render_row %}
        <div class="row date-widget">
      {% endif %}
      {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
      {% set year_widget = form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ 'year',}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-3')}) %}
      {% set month_widget = form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ 'month'}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-3')}) %}
      {% set day_widget = form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ 'day'}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-3')}) %}
      <div class="col-md-2">{{ day_widget|raw }}</div>
      <span class="pull-left date-separator">{{ divider }}</span>
      <div class="col-md-2">{{ month_widget|raw }}</div>
      <span class="pull-left date-separator">{{ divider }}</span>
      <div class="col-md-2">{{ year_widget|raw }}</div>
      {% if dont_render_row is not defined or not dont_render_row %}
        </div>
      {% endif %}
    {% endif %}
  {% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
  {% spaceless %}
    {% if widget == 'single_text' %}
      {% if timepicker is defined %}
        <div class="input-group date" id="{{ form.vars.id }}" data-target-input="nearest" data-role="time-picker">
          <input
              type="text"
              class="form-control {{ attr.class|default('')|join(' ') }} datetimepicker-input"
              data-target="#{{ form.vars.id }}"
              data-toggle="datetimepicker"
              value="{{ value }}"
              {{ block('widget_attributes') }}
              {% if read_only is defined and read_only %} readonly="readonly"{% endif %}
              {% if disabled %} disabled="disabled"{% endif %}
              {% if required %} required="required"{% endif %}
          >
          <div class="input-group-append" data-target="#{{ form.vars.id }}" data-toggle="datetimepicker">
            <div class="input-group-text">
              <i class="fas fa-clock"></i>
            </div>
          </div>
        </div>
      {% else %}
        {{ block('form_widget_simple') }}
      {% endif %}
    {% else %}
      {% set attr = attr|merge({'class': attr.class|default('')}) %}
      {% spaceless %}
        {% if dont_render_row is not defined or not dont_render_row %}
          <div class="row time-widget">
        {% endif %}
        <div class="col-md-2">
          {{ form_widget(form.hour, { 'attr': {  'size': '1'}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-2')}) }}
        </div>
        <span class='pull-left date-separator'>:</span>
        <div class="col-md-2">
          {{ form_widget(form.minute, { 'attr': { 'size': '1' }, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-2')}) }}
        </div>
        {% if with_seconds %}
          <span class='pull-left date-separator'>:</span>
          <div class="col-md-2">
            {{ form_widget(form.second, { 'attr': { 'size': '1' }, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-2') }) }}
          </div>
        {% endif %}
        {% if dont_render_row is not defined or not dont_render_row %}
          </div>
        {% endif %}
      {% endspaceless %}
    {% endif %}
  {% endspaceless %}
{% endblock time_widget %}

{% block datetime_widget %}
  {% spaceless %}
    {% if widget == 'single_text' %}
      {% if datetimepicker is defined %}
        <div class="input-group date" id="{{ form.vars.id }}" data-target-input="nearest" data-role="date-time-picker">
          <input
              type="text"
              class="form-control {{ attr.class|default('')|join(' ') }} datetimepicker-input"
              data-target="#{{ form.vars.id }}"
              data-toggle="datetimepicker"
              value="{{ value }}"
              {% if minimum_date %}data-min-date="{{ minimum_date }}"{% endif %}
              {% if maximum_date %}data-max-date="{{ maximum_date }}"{% endif %}
              {{ block('widget_attributes') }}
              {% if read_only is defined and read_only %} readonly="readonly"{% endif %}
              {% if disabled %} disabled="disabled"{% endif %}
              {% if required %} required="required"{% endif %}
          >
          <div class="input-group-append" data-target="#{{ form.vars.id }}" data-toggle="datetimepicker">
            <div class="input-group-text">
              <i class="fas fa-calendar"></i>
            </div>
          </div>
        </div>
      {% else %}
        {{ block('form_widget_simple') }}
      {% endif %}
    {% else %}
      {% set attr = attr|merge({'class': attr.class|default('row datetime-widget')}) %}
      <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form.date) }}
        {{ form_errors(form.time) }}
        {{ form_widget(form.date, {'dont_render_row': true, 'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-3')}) }}
        {{ form_widget(form.time, {'dont_render_row': true, 'attr': {'class': attr.widget_class|default('')}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-2')}) }}
      </div>
    {% endif %}
  {% endspaceless %}
{% endblock datetime_widget %}
