{% import _self as formMacros %}

{% block form_label %}
  {% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
    {% if label is not same as(false) %}
      {% if label is empty %}
        {% set label = toTranslation(id)|trans({}, translation_domain)|capitalize %}
      {% else %}
        {% set label = label|trans({}, translation_domain)|capitalize %}
      {% endif %}
      {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
      {% endif %}
      {% set label_attr_class = '' %}
      {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional') }) %}
      <label{% for attrname,attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
      {{ label|trans|capitalize }}{{- block('label_asterisk') }}
      </label>
    {% endif %}
  {% endif %}
{% endblock form_label %}

{%- block label_asterisk -%}
  {% if required %}
    <abbr title="{{ 'forms.labels.required'|trans({}, translation_domain) }}">*</abbr>
  {% else %}
    {%- if render_optional_text %}
      <small class="text-muted">{{ 'forms.labels.optional'|trans({}, translation_domain) }}</small>{% endif -%}
  {% endif %}
{%- endblock label_asterisk -%}

{% block collection_widget %}
  {% import _self as formMacros %}

  {% spaceless %}
    {% if prototype is defined %}
      {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
      {% set attr = attr|merge({'data-prototype-label': prototype.vars.label}) %}
    {% endif %}

    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
    {% set attr = attr|merge({'data-role': 'collection'}) %}

    <div {{ block('widget_container_attributes') }} data-prototype="{{ formMacros.renderCollectionItem(prototype)|e('html_attr') }}">
      {{ block('collection_rows') }}
      {{ form_rest(form) }}
    </div>
    {{ block('form_errors') }}

    <div style="display: none;" data-role="collection-template-button-container" data-target="{{ form.vars.id }}">
      {{ block('form_widget_add_btn') }}
      {{ block('form_widget_remove_btn') }}
      {{ block('form_widget_up_btn') }}
      {{ block('form_widget_down_btn') }}
    </div>
  {% endspaceless %}
{% endblock collection_widget %}

{% block collection_rows %}
  {% spaceless %}
    {{ form_errors(form) }}
    {% for child in form %}
      {{ formMacros.renderCollectionItem(child) }}
    {% endfor %}
  {% endspaceless %}
{% endblock collection_rows %}

{% block form_widget_add_btn %}
  <button type="button" class="btn btn-default" data-role="collection-template-button" data-action="add" data-toggle="tooltip" title="{{ 'forms.buttons.addItem'|trans|capitalize }}">
    <i class="fas fa-plus"></i>
  </button>
{% endblock %}

{% block form_widget_remove_btn %}
  <button type="button" class="btn btn-default" data-role="collection-template-button" data-action="remove" data-toggle="tooltip" title="{{ 'forms.buttons.removeItem'|trans|capitalize }}">
    <i class="fas fa-trash"></i>
  </button>
{% endblock %}

{% block form_widget_up_btn %}
  <button type="button" class="btn btn-default" data-role="collection-template-button" data-action="up" data-toggle="tooltip" title="{{ 'forms.buttons.moveUp'|trans|capitalize }}">
    <i class="fas fa-angle-up"></i>
  </button>
{% endblock %}

{% block form_widget_down_btn %}
  <button type="button" class="btn btn-default" data-role="collection-template-button" data-action="down" data-toggle="tooltip" title="{{ 'forms.buttons.moveDown'|trans|capitalize }}">
    <i class="fas fa-angle-down"></i>
  </button>
{% endblock %}

{%- block form_errors -%}
  {% if form.parent is null %}
    {% if not form.vars.valid %}
      <div class="alert alert-danger" role="alert">
        {{ 'forms.message.hasErrors'|trans|capitalize }}:
        <ul class="list-unstyled">
          {% for child in form.children %}
            {% set label = child.vars.label %}
            {% if label is not same as(false) %}
              {% if label is empty %}
                {% set label = toTranslation(child.vars.id)|trans({}, child.vars.translation_domain)|capitalize %}
              {% else %}
                {% set label = label|trans({}, child.vars.translation_domain)|capitalize %}
              {% endif %}
            {% endif %}
            {% if not child.vars.valid %}
              {% for error in child.vars.errors %}
                <li>
                  <a href="#{{ child.vars.id }}">
                    {% if label is not same as(false) %}{{ label|trans|capitalize }}: {% endif %}{{ error.message }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% else %}
    {% if errors|length > 0 -%}
      {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger" role="alert">{% endif %}
      <ul class="list-unstyled">
        {%- for error in errors -%}
          <li><span class="fas fa-exclamation-triangle"></span> {{ error.message }}</li>
        {%- endfor -%}
      </ul>
      {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
  {% endif %}
{%- endblock form_errors -%}

{% block image_widget %}
  {% spaceless %}
    <div class="form-group">
      {{ form_widget(form.file) }}
      {{ form_errors(form.file) }}
    </div>
    {% set show_preview = show_preview and data is not null and data.fileName is not empty %}
    {% if show_preview or show_remove_image %}
      <div class="form-group">
        {% if show_preview and preview_url %}
          <img class="{% if preview_class is defined and preview_class is not empty %}{{ preview_class }}{% endif %}"
            src="{{ preview_url }}">
        {% endif %}
        {% if show_remove_image %}
          {{ form_widget(form.remove) }}
        {% endif %}
      </div>
    {% endif %}
  {% endspaceless %}
{% endblock %}

{% block sumoFile_widget %}
  {% spaceless %}
    <div class="form-group">
      {{ form_widget(form.file) }}
      {{ form_errors(form.file) }}
    </div>
    {% set show_preview = show_preview and data is not null and data.fileName is not empty %}
    {% if show_preview or show_remove_file %}
      <div class="form-group">
        {% if show_preview and preview_url %}
          <a href="{{ preview_url }}" class="btn btn-xs btn-default" target="_blank">
            <span class="fas fa-eye" aria-hidden="true"></span>
            {{ preview_label|trans|capitalize }}
          </a>
        {% endif %}
        {% if show_remove_file %}
          {{ form_widget(form.remove) }}
        {% endif %}
      </div>
    {% endif %}
  {% endspaceless %}
{% endblock %}

{% macro renderCollectionItem(item) %}
  <div class="card">
    <div class="card-body">
      {{ form_row(item, {'attr':{'class':'collection-item'}}) }}
    </div>
  </div>
{% endmacro %}
